* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UNIVERSAL STYLES */
html {
  font-family: 'Quintessential', cursive;
  color: #0E4C5E;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #C6D7DA;
  /* background-image: linear-gradient(to right, rgb(93, 147, 158), yellow, rgb(194, 91, 7)); */
} 

p {
  font-family: 'Times New Roman';
  margin-bottom: 0.5em;
}

h1, h2, h3, li {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  padding: 10px;
  padding-left: 24px;
}
  
h2 {
  padding: 12px 0px;
  text-decoration: underline;
}
  
h4 {
  color: #5D939E;
  text-decoration: underline;
  padding: 5px 0px;
  font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
header {
  position: sticky;
  top: -50px;
  height: 115px;
  width: 90%;
  max-width: 1000px;  
  display: flex;
  flex-direction: column;  
  background-color:#0E4C5E;
  color: #FFF;
  box-shadow: 0px 5px 15px #757575;
  z-index: 5;
  border-radius: 4px;
}
#original-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
}
/* NAV */

nav {
  display: flex;
  align-items: center;
  padding: 1em;
}

nav li {
  display: inline-flex;
  list-style-type: none; 
  text-align: right;
  padding: 0 1em;
  border-left: solid 1px white;
}

nav li:first-child {
  border-left: solid 1px #0E4C5E;
}

nav a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
  color: #C25B07;
  text-shadow: 0 0 orange;
}

#mode {
  align-self: flex-end;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 207px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0E4C5E;
  box-shadow: 2px 2px 6px black;
}

#mode button {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  width: 70px;
  color: #FFF;
  background-color: transparent;
  border: none;  
  padding: 5px 0px;
  border-right: 1px solid grey;
}

#mode button:hover {
  background-color: #C25B07; 
  color: #FFF; 
}

#mode button:active {
  background-color: #FFF;
  font-weight: 500;
}

/* MAIN */

main {
  top: 140px;
  width: 100%;
}

section {
  width: 90%;
  max-width: 1000px;
  background-color:#fff;
  border: 1px solid #0E4C5E;
  border-radius: 4px;
  box-shadow: 0px 5px 15px #757575;  
  margin: 20px auto;
  padding: 10px;
}

/* ABOUT */

#about {
  display: flex;
  max-height: 450px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: inherit;
}

#portraitdiv {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border: 1px solid #0E4C5E;
  box-shadow: 3px 3px 5px #757575;
  border-radius: 50%;
  margin: 1em;
  margin-top: 2em;
  align-self: center;
  flex-shrink: 0;  
}

#portrait {
  display: block;
  width: auto;
  max-height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.aboutContainer a {
  color: #5D939E;
  font-weight: 700;
}
.aboutContainer a:hover {
  color: #C25B07;
}

#readMoreButton {
  float: right;
  font-weight: 700;
  color: #0E4C5E;
  background-color: #FFF;
  border: 1px solid #0E4C5E;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #757575;  
  padding: 0.5em;
  margin-bottom: 0.5em;
}
#readMoreButton:hover {
  color: #FFF;
  background-color: #C25B07 !important;
}
#readMoreButton:active {
  top: 4px;
  color: #C25B07;
  background-color: #FFF;
}

#readMoreText {
  height: 0; 
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
  padding-top: 0.5em;
  transition: all 3s ease 100ms;
} 

.aboutBTN {
  color: #5D939E;
  font-weight: 700;
}
.aboutBOX {
  display: inline;
}
.aboutBOX .aboutTXT {
  position: absolute;
  z-index: 10;
  height: 0px;
  width: 50%;
  right: 12%;
  color:#FFF;
  background-color:#C25B07;
  border:1px solid #0E4C5E;
  border-radius: 4px;
  padding: 0.5em;
  opacity: 0;
  transition: all 600ms ease 300ms;
  pointer-events: none;
}
.aboutBOX:hover .aboutTXT {
  height: auto;
  opacity: 1;  
}

/* PROJECT */

#projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  border-bottom: 1px solid #0E4C5E;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
  opacity: 0.9;
  transform-style: preserve-3d;
  transition: all 400ms ease;
}
.project:hover {
  top: -3px;
  left: -3px;
  opacity: 1;
  border: 1px solid #0E4C5E;
  box-shadow: 2px 2px 10px #757575;
  z-index: 3;
}

.project:last-child {
  border-bottom: 1px solid #FFF;
}
    
.projectContent {
  display: flex;
}
.projectText {
  padding: 0 10px;    
}   

.projectImg {
  display: block;
  min-width: 200px;
  height: 200px;
  overflow: hidden; 
  margin-bottom: 2em;  
  border: 1px solid #5D939E;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #757575;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 200px;
  width: 100%;
  height: 200px;
  padding: 20px;
  background: rgba(0,0,0,.44);
  color: white;
  text-align: center;
  transition: top 400ms ease;
}

.projectImg:hover .img-overlay {
  top: 0;
  background: rgba(0,0,0,.6);
}
.img-link {
  text-decoration: none;
  font-size: 3em;
  color:#fff;
}

#Jammming {
  background-image: url(./Jammming.jpg);
}
#Fotomatic {
  background-image: url(./Fotomatic.png);
}
#Memory {
  background-image: url(./MyMemory.png);
}
#FractalFun {
  background-image: url(./FractalFun.png);
}


/* SKILLS */
#skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

.skill i {
  font-size: 3em;
}

.level {
  font-style: italic;
}

/* CONTACT */

.skill a {
  color: #0E4C5E;
  text-decoration: none;
}

#contact a:hover, .skill a:hover {
  font-weight: 700;
  color: #C25B07 !important;
}

/* FOOTER */
footer {
  padding: 1em;
  text-align: center;
  color:#0E4C5E;
}

/* MEDIA QUERIES */

/*adjustments for narrow screens*/
@media only screen and (max-width: 600px) {
  #readMoreText2 {
    color: red;
    display: none;
  }
  #readMoreButton1 {
    display: none;
  }
  #readMoreButton2 {
    display: block;
  }  
  
}

/*adjustments for wide screens */



